p {
  line-height: 30px;
  margin: 20px 0;
}

img {
  border-radius: 5px;
  border: 1px solid #666666;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  max-width: calc(100vw - 80px);
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

video {
  max-width: 100%;
}

sup {
  vertical-align: super;
  font-size: 12px;
}

blockquote {
  padding: 0 20px;
  font-size: 16px;
  color: #555;
}

blockquote a {
  text-align: right;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ol {
  font-size: 14px;
  li {
    p {
      margin: 0;
    }
  }
}

ul {
  li > a {
    display: inline !important;
  }
}