.site-title {
  margin: 20px 0 0 0;
  font-size: 20px;
  font-weight: 500;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  a {
  color: #757575;
  transition: color 0.2s ease;
  text-decoration: none;

    &:hover {
      color: inherit;
    }
  }
}

.nav-container {
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 13px;
    padding: 0;
    position: absolute;
  }

  ul li {
    font-size: 13px;
    margin-top: 13px;
  }
}
