<div class="nav-container">
  <ul>
    <li>
      <a href="/about">About me</a>
    </li>
    <li>
      <a href="/charity">Charity</a>
    </li>
    <li>
      <a href="/giving">Giving</a>
    </li>
    <li>
      <a href="/tedxrutgers">TEDxRutgers</a>
    </li>
    <li>
      <a href="/primer">Primer</a>
    </li>
    <li>
      <a href="/quitting">Quitting</a>
    </li>
    <li>
      <a href="/poverty">Poverty</a>
    </li>
    <li>
      <a href="/frugality">Frugality</a>
    </li>
    <li>
      <a href="/couch">Couch</a>
    </li>
    <li>
      <a href="/vegn">Veg*n</a>
    </li>
    <li>
      <a href="/birthday">Birthday</a>
    </li>
    <li>
      <a href="/helping">Helping</a>
    </li>
    <li>
      <a href="/meaning">Meaning</a>
    </li>
    <li>
      <a href="/reading">Reading</a>
    </li>
    <li>
      <a href="/code">Code</a>
    </li>
    <li>
      <a href="/social">Social</a>
    </li>
    <li class="blog-divider">Blog</li>

    <li>
      <a href="/blog/give-publicly">Give publicly</a>
    </li>
    <li>
      <a href="/blog/giving-50">Giving 50%</a>
    </li>
    <li>
      <a href="/blog/my-giving-story">My giving story</a>
    </li>
    <li>
      <a href="/blog/why-give-part-1">Why give: 1</a>
    </li>
    <li>
      <a href="/blog/why-give-part-2">Why give: 2</a>
    </li>
    <li>
      <a href="/blog/why-give-part-3">Why give: 3</a>
    </li>
    <li>
      <a href="/blog/why-give-part-4">Why give: 4</a>
    </li>
    <li>
      <a href="/blog/why-give-part-5">Why give: 5</a>
    </li>
    <li>
      <a href="/blog/why-give-part-6">Why give: 6</a>
    </li>
    <li>
      <a href="/blog/why-give-part-7">Why give: 7</a>
    </li>
  </ul>
</div>
